.firstContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    border-bottom: 1px solid grey;
    padding: 50px;
}

.pokemonNumber {
    margin-top: 50px;
    font-size: 25px;
}

.pokemonName {
    margin-top: 10px;
    font-size: 50px;
}

.pokemonImage {
    margin-top: 50px;
    margin-bottom: 50px;
    width: auto;
    height: 250px;
    border: 1px solid grey;
    border-radius: 5px;
    
}

.pokemonDescription {
    margin-bottom: 50px;
}

.secondContainer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-weight: bold;
    border-bottom: 1px solid grey;
    margin-left: 50px;
    margin-top: 50px;
    padding: 50px;
    gap: 150px;
}

.pokemonType {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.typeContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemonHeight {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pokemonWeight {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pokemonStats {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stat {
    margin-bottom: 25px;
}

.pokemonAbilities {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pokemonAbility {
    margin-top: 25px;
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 2rem;
    background-color: #fee;
    border: 2px solid #e74c3c;
    border-radius: 8px;
    color: #c0392b;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
}
