.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  min-height: 300px;
}

.pokeball {
  width: 60px;
  height: 60px;
  position: relative;
  animation: spin 1s linear infinite;
}

.pokeballTop {
  width: 60px;
  height: 30px;
  background-color: #ee1515;
  border-radius: 60px 60px 0 0;
  position: absolute;
  top: 0;
}

.pokeballBottom {
  width: 60px;
  height: 30px;
  background-color: #f5f5f5;
  border-radius: 0 0 60px 60px;
  position: absolute;
  bottom: 0;
}

.pokeballButton {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border: 3px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.loadingText {
  margin-top: 2rem;
  font-size: 1.2rem;
  color: #555;
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes pulse {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}
